.img-badge {
  max-width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-style: italic;
}

.badge-row {
  display: inline-block;
}

.badge a {
  border: 0;
  text-decoration: none;
}

.badge img {
  max-width: 50%;
  height: auto;
}

.badge img.off {
  opacity: 0.5;
}

.img-container {
  text-align: center;
  position: relative;
}

.image-overlay {
  width: 23%;
  min-width: 125px;
  position: absolute;
  left: 7%;
  top: 55%;
}


